.idea/
__pycache__/
data/ADE/ADE*
history*
checkpoint/
ckpt*/
*.swp
*/*.swp
log*/
model/prtrain/
model/component/roi_align/
run.sh
test.sh
val.sh
sleep.sh
feature.sh
model.log
train.log
diagnosis/*.json
diagnosis/*.pth
data
merge
protonet
protoMAML
